*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Arial;
}

.container{
    margin-top: 30px;
    display: grid;
    grid-gap: 40px 30px;
    justify-content: center;
}

.person{
    padding: 10px;
    text-align: center;
    width: 200px;
    transform: scale(1);
    transition: transform 1s ease-in-out 1s;
    min-height: 230px;
}

.person-number{
    position: relative;
}

.person img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    cursor: pointer;
    transition: border-radius 1s ease-in-out 1s;
}

.number{
    position: absolute;
    background-color: white;
    text-align: center;
    line-height: 32px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    top: 84px;
    right: 10px;
    color: #8B0000;
;
}

.name {
    width: 200px;
    text-align: center;
    line-height: 23px;
    font-size: 20px;
    color: #2F4F4F;
}

.description{
    font-size: 18px;
    text-align: center;
    width: 100%;
    margin-top: 9px;
    display: none;
}

.person:hover .description{
    display: block;
}

.person:hover img{
    border-radius: 60px;
    transition:1s ease-in-out 1s;
}

.person:hover{
    min-height: 250px;
    position: relative;
    z-index: 10;
    border-radius: 10px;
    background-color: #EEEEEE;
    transform: scale(1.2);
    transition:transform 1s ease-in-out 1s;
}

@media screen and (min-width: 500px) and (max-width: 750px){
    .container{
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(5,240px);
    }
}

@media screen and (min-width: 751px) and (max-width: 1000px){
    .container{
        grid-template-columns: repeat(2, 200px);
        grid-template-rows: repeat(5,240px);
    }
}

@media screen and (min-width: 1001px) and (max-width: 1500px){
    .container{
        grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(4,240px);
    }
}

@media screen and (min-width: 1501px){
    .container{
    grid-template-columns: repeat(4, 200px);
        grid-template-rows: repeat(4,240px);
    }
}